body {
    margin: 0 auto;
    width: 80%;
    background: black;
}

.special {
    background: white;
    padding-top: 1em;
}

form {
    margin: 0 auto;
    background: white;
    padding-left: 29%;
    /* padding-bottom: 1em; */
    /* border-bottom: 2px solid black; */
}

img {
    height: 200px;
}

p {
    text-align: center;
}